*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    font-family: Diphylleia;
}
/* background style */
.container{
    display: flex;
    height: 100vh;
    width:100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(rgb(251, 111, 51),rgb(140, 79, 178),pink);
    transform: translate(-490px,-150px);
}
.container::after{
    content: '';
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: linear-gradient(rgb(239, 24, 153),yellow,rgb(210, 63, 217));
    transform: translate(380px,170px);
}
.container  .ball-1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: radial-gradient(rgb(156, 9, 9),rgb(97, 239, 71));
    transform: translate(-250px,200px);
    position: absolute;
}
.container  .ball-2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(rgb(35, 45, 230),#d46357,rgb(180, 250, 114));
    transform: translate(-10px,-220px);
    position: absolute;
}
.container  .ball-3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(74, 83, 238);
    transform: translate(50px,100px);
    position: absolute;
}
.container  .ball-4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: radial-gradient(#7dec4d,rgb(154, 32, 235));
    transform: translate(480px,-280px);
    position: absolute;
}
.container  .ball-5{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: linear-gradient(rgb(218, 157, 26),#4d6852,rgb(216, 48, 107));
    transform: translate(-600px,250px);
    position: absolute;
}

/* box style */
.container .box{
    display: flex;
    height: 86vh;
    width: 80%;
    padding: 0,20px;
    background: rgb(253, 253, 253,0.1);
    z-index: 10;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255,0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgb(10, 10, 10,0.25);
}
/* nav bar style */
.container .box nav {
    height: 7%;
    width: 95%;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    display: flex;
    position: fixed;
}
.container .box nav a{
    padding: 6px 30px;
    text-decoration: none;
}
.container .box nav a:hover{
    border-bottom: rgb(248, 100, 228) 3px solid;
    font-size: 19px;
    font-weight: bold;
}


/* text part inside the box */
.flexcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 80%;
    margin-top: 8%;
    padding-left: 80px;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 40px;
}
h2 span{
    border-bottom: solid rgb(10, 175, 240) 2px;
}
h2 span:hover{
      border-style: hidden;
      color: cornflowerblue;
}
.container .box .maintext p{
    font-size: 20px;
    margin-top: 20px;
}
.itli{
    padding-top: 5px;
}
.hidtext {
    display: none;
    font-size: 15px; 
}
.itli:hover + .hidtext {
    display: block; 
    color: rgb(214, 213, 213);
}
/* social media links */
.socili{
    margin-top: 130px;
    padding: 5px;
}
.socili img{
    width: 25px;
    margin: 15px;
}
.socili img:hover{
    width: 30px;
}

/* photo of swikruti display */
.picpart img{
    width: 500px;
    padding: 5px;
    border: 4px rgb(213, 177, 213) solid;
}

/* starting animation */
@keyframes pop-but{
    0%{
        transform: scale(0.9);
    }
}
.butpop {
    animation: pop-but;
    animation-timing-function: linear;
    animation-duration: 1s;
}
